<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="File_system"/>
		<service name="Nitpicker"/>
		<service name="Nic"/>
	</parent-provides>

	<default-route> <any-service> <parent/> <any-child/> </any-service> </default-route>

	<default caps="100"/>

	<start name="nit_fb">
		<resource name="RAM" quantum="4M"/>
		<provides> <service name="Framebuffer"/> <service name="Input"/> </provides>
		<config xpos="10" ypos="10" initial_width="900" initial_height="200"/>
	</start>

	<start name="log_terminal">
		<binary name="terminal"/>
		<resource name="RAM" quantum="4M"/>
		<provides> <service name="Terminal"/> </provides>
		<config>
			<vfs> <dir name="fonts"> <fs/> </dir> </vfs>
		</config>
		<route>
			<service name="File_system"> <parent label="fonts"/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>

	<start name="log">
		<binary name="terminal_log"/>
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="LOG"/> </provides>
		<config/>
		<route>
			<service name="Terminal"> <child name="log_terminal"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="noux" caps="300">
		<resource name="RAM" quantum="32M"/>
		<config stdout="/dev/null" stderr="/dev/null" stdin="/dev/null">
			<fstab>
				<tar name="bash-minimal.tar"/>
				<tar name="coreutils-minimal.tar"/>
				<tar name="assets.tar"/>
				<dir name="dev"> <log/> <zero/> <null/> </dir>
				<dir name="vm">  <fs label="target"/> </dir>
				<inline name=".profile">
cp /machine.* /vm
				</inline>
			</fstab>
			<start name="/bin/bash">
				<env name="HOME" value="/"/>
				<arg value="--login"/>
			</start>
		</config>
		<route>
			<service name="File_system" label="target">
				<parent label="target"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="report">
		<binary name="report_rom"/>
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Report"/> <service name="ROM"/> </provides>
		<config verbose="yes"/>
		<route>
			<service name="LOG"> <child name="log"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="download" caps="500">
		<binary name="fetchurl"/>
		<resource name="RAM" quantum="32M"/>
		<config>
			<report progress="yes"/>
			<vfs>
				<dir name="dev">
					<log/> <null/>
					<inline name="rtc">2019-07-04 12:00</inline>
					<inline name="random">01234567890123456789</inline>
				</dir>
				<dir name="socket"> <lxip dhcp="yes"/> </dir>
				<dir name="vm"> <fs label="target"/> </dir>
			</vfs>
			<libc stdout="/dev/log" stderr="/dev/log" rtc="/dev/rtc" socket="/socket"/>
			<fetch url="http://tinycorelinux.net/11.x/x86/release/CorePlus-current.iso"
			       path="/vm/installer.iso" retry="3"/>
		</config>
		<route>
			<service name="File_system" label="target">
				<parent label="target"/> </service>
			<service name="LOG"> <parent/> </service>
			<service name="Report"> <child name="report"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>
</config>
